@import "src/styles/colors";
@import "src/styles/breakpoints";

.headerInfoBlock {
	align-items: center;

	.infoBlock {
		margin: 33px -25px 22px -30px;
		width: 110%;

		@include onWidth($mobileLg) {
			width: 425px;
		}

		@include onWidth($tablet) {
			width: 45%;
			margin: -45px 0 0 22px;
		}

		@include onWidth($tabletMd) {
			margin: 0 0 47px;
		}

		@include onWidth($desktopLg) {
			align-items: center;
			margin:  0;
		}
	}

	.ellipse {
		position: absolute;
		z-index: -10;
		top: 100px;
		right: 130px;

		@include onWidth($mobileMd) {
			top: 20px;
			right: 20px;
		}
	}

	.ellipseLight {
		position: absolute;
		z-index: -10;
		@include onWidth($mobileMd) {
			top: 190px;

		}
	}

	.corporationInfo {
		@include onWidth($tablet) {
			margin: 0 37px 0 5px;
		}

		.headerInfo {
			font-style: normal;
			font-weight: 600;
			font-size: 36px;
			line-height: 100%;
			margin: 10px 0;

			@include onWidth($tabletMd) {
				font-size: 48px;
				line-height: 110%;
			}

			@include onWidth($desktopLg) {
				font-size: 72px;
				line-height: 110%;
			}
		}

		.textInfo {
			font-style: normal;
			font-weight: 400;
			font-size: 16px;
			margin: 0;
			line-height: 140%;

			@include onWidth($tabletMd) {
				font-weight: 400;
				font-size: 20px;
				line-height: 140%;
			}

			@include onWidth($desktopLg) {
				font-size: 24px;
				line-height: 140%;
				width: 756px;
			}
		}
	}

	@include onWidth($tablet) {
		display: flex;
		margin: 80px 0 0;
		justify-content: space-between;
		flex-flow: row-reverse;
	}
}

.services {
	position: relative;

	.ellipse {
		position: absolute;
		margin-left: -150px;

		@include onWidth($mobileMd) {
			margin-left: 0;
			height: 80px;
		}
	}

	.ellipse2 {
		position: absolute;
		right: 0;
		margin-right: -100px;
		opacity: 0.80;
		@include onWidth($mobileMd) {
			margin-right: 0;
		}
		@include onWidth(279px) {
			margin-right: 0;
		}
	}
	.textLightInfo {
		color:$gray3;
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		line-height: 120%;
		margin: 15px 0 ;

		@include onWidth($tabletMd) {
			font-size: 24px;
			margin: 25px 0 ;
		}

		@include onWidth($desktopLg) {
			font-size: 30px;
			margin: 28px 0 ;
		}
	}
}

.contactInfo {
	@include onWidth($tablet) {
		display: flex;
	}
}

.headerLightInfo {
	color: $gray3;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 120%;
	margin: 63px 0 10px 0;

	@include onWidth($tabletMd) {
		font-size: 16px;
		margin-top: 80px;
	}

	@include onWidth($desktopLg) {
		font-size: 18px;
		margin: 200px 0 20px 0;
	}
}
.textDarkInfo {
	position: relative;
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 130%;
	margin: 0 0 70px 0;
	color: $black;

	@include onWidth($tabletMd) {
		font-size: 30px;
		line-height: 140%;
		margin: 0;
	}

	@include onWidth($desktopLg) {
		font-size: 48px;
		margin: 0 0 100px;
	}
}

.projectInfo {
	.blueBlock {
		background: $blueGradient;
		position: relative;
		left: 0;
		margin: 20px -25px 0 -25px;
		border-radius: 20px 20px 0 0;

		@include onWidth($tablet) {
			width: 50%;
			justify-content: space-between;
			display: flex;
			flex-direction: column;
			margin: 30px 0;
			border-radius: 20px 0 0 20px;
		}

		@include onWidth($desktopLg) {
			height: 508px;
		}

		.logoWhite {
			mix-blend-mode: soft-light;
			opacity: 0.5;
			position: absolute;
			right: 25px;
			top: 30px;

			@include onWidth($tablet) {
				width: 232px;
			}
		}

		.headerWhite {
			font-style: normal;
			font-weight: 700;
			font-size: 20px;
			line-height: 130.5%;
			color: white;
			padding:  30px 43px 20px 25px;
			margin: 0;

			@include onWidth($tablet) {
				font-weight: 700;
				font-size: 24px;
				line-height: 130.5%;
			}

			@include onWidth($desktopLg) {
				font-weight: 700;
				font-size: 40px;
				line-height: 130.5%;
				padding: 60px 132px 0 40px;
			}
		}

		.textLight {
			font-weight: 400;
			font-size: 16px;
			line-height: 23px;
			color: white;
			margin:  0;
			padding:  20px 25px 30px 25px;

			@include onWidth($tabletMd) {
				font-weight: 400;
				font-size: 18px;
				line-height: 141%;
				margin-right: 70px;
			}

			@include onWidth($desktopLg) {
				font-size: 24px;
				line-height: 141%;
				padding:  0 110px 60px 40px;
			}
		}
	}

	.whiteBlock {
		position: relative;
		margin: -25px -25px 60px;
		background: white;
		right: 0;

		.ellipse {
			position: absolute;
			z-index: -10;
			top: 540px;
			right: 0;
			@include onWidth($desktopLg) {
				top: 300px;
				right: -300px;
			}
		}

		@include onWidth($tablet) {
			display: flex;
			width: 50%;
			height: 50% ;
			border-radius: 0 20px 20px 0;
			flex-direction: column;
			margin: 30px 0;
		}

		@include onWidth($desktopLg) {
			height: 508px;
		}

		.blackInfo {
			font-style: normal;
			font-weight: 400;
			font-size: 16px;
			line-height: 141%;
			color:$gray3;
			padding: 30px 25px 30px 25px ;
			margin: 25px 0;

			@include onWidth($tablet) {
				margin: 17px 0 10px;
			}

			@include onWidth($desktopLg) {
				font-size: 18px;
				line-height: 141%;
				margin: -18px;
				padding: 67px 80px 66px 90px;
			}
		}
	}

	@include onWidth($tablet) {
		display: inline-flex;
	}
}

.contactInfoBlock {
	.ellipse {
		position: absolute;

		margin-right: 0;
		@include onWidth($tablet) {
			display: none;
		}
	}

	@include onWidth($tablet) {
		display: flex;
		justify-content: space-between
	}

	@include onWidth($desktopLg) {
		margin-bottom: 70px;
	}

	.contact {
		font-style: normal;
		font-weight: 500;
		font-size: 20px;
		line-height: 120%;
		color: $black;

		@include onWidth($tablet) {
			font-size: 30px;
		}

		@include onWidth($desktopLg) {
			font-size: 48px;
			margin: 30px;
		}
	}

	.contactInfoItems {
		@include onWidth($desktopLg) {
			display: flex;
		}
	}

	.contactInfoItem {
		font-weight: 400;
		font-size: 18px;
		line-height: 141%;
		color: $black;

		@include onWidth($tablet) {
			width: 294px;
		}
	}

	.contactHeader {
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 141%;
		color: $black;
	}
}

.footer {

	@include onWidth($tablet) {
		display: flex;
		justify-content: space-between;
	}

	.fiveElement {
		font-style: normal;
		font-weight: 400;
		font-size: 15px;
		line-height: 18px;
		color: $gray3;
		margin-top:  20px ;
	}

	.back {
		text-decoration: none;
		color: $blue;

		@include onWidth($tablet) {
			color: $black;
		}

		&:hover {
			@include onWidth($tablet) {
				color: $blue;
			}
		}
	}
}
