
$mobileMd: 320px;
$mobileLg: 425px;
$tablet: 768px;
$tabletMd: 960px;
$desktopS: 1200px;
$desktopMd: 1366px;
$desktopLg: 1920px;

@mixin onWidth($minWidth) {
  @media screen and (min-width: $minWidth) {
    @content
  }
}
