// цвета проставить свои, названия цветов обычно написаны в figma
$blue: #0A2DDA; //
$gray1: #F1F1F1; //Фон
$gray2: #4C4D52; // заголовки с описанием
$black: #181818; // Информация
$gray3: #4C4D52; //
$blueGradient: linear-gradient(113.55deg, #0A2DDA 1.19%, #4161FF 100%);
$greenGradient: linear-gradient(180deg, #D3E8EB 0%, #EDF0F0 100%);

