@import 'src/styles/colors.scss';
@import "src/styles/breakpoints";

body {
	margin: 0;
	padding: 0;
	background-color: $gray1;
	font-family: 'Montserrat', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

}
html {
	scroll-behavior: smooth;
}

* {
	box-sizing: border-box;
}

#app {
	padding: 19px 25px;

	@include onWidth($tablet) {
		padding: 30px 30px 0 30px;
	}
	@include onWidth($tabletMd) {
		padding: 30px 30px 0 30px;
	}
	@include onWidth($desktopLg) {
		padding: 30px 178px 0 190px;
	}
}
