@import "src/styles/colors";
@import "src/styles/breakpoints";
.logo {
  width: 83px;
  height: 22px;
}


.wrapper {
  width: 100%;
  height: 100%;
  top: -100%;
  margin-left: -25px;
  position: fixed;
  z-index: 9;
  padding: 20px 28px 30px;
  background: $greenGradient;

  animation: toBottom 500ms ease-in-out forwards;

  &.closing {
    animation: toTop 500ms ease-in-out forwards;
  }

  &.notRendered {
    animation-duration: 0ms !important;
  }

  .head {
    display: flex;
    justify-content: space-between;
  }

  .logoMenu {
    margin-top: 70px;
    position: absolute;
    width: 90%;
    @include onWidth($tablet) {
      display: none;
    }
  }

    .items {
      display: flex;
      align-items: center;
      flex-direction: column;
      font-family: 'Montserrat', sans-serif;

      font-weight: 500;
      font-size: 18px;
      line-height: 174%;
      > *:first-child {
        margin-top: 100px;
      }

      > a {
        text-decoration: none;
        position: relative;
        margin-bottom: 30px;
        color: $black;
      }
      }
    }


  .contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
    flex-wrap: wrap;

    > *:first-child {
      margin-bottom: 20px;
    }

    .item {
      h3 {
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: $black;
        text-align: center;
        margin-bottom: 8px;
      }

      a {
        text-decoration: none;
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        line-height: 20px;
        color: $black;
        white-space: nowrap;
        font-weight: bold;
      }
    }
  }

@keyframes toBottom {
  from {
    top: -100vh;
  }
  to {
    top: 0;
  }
}

@keyframes toTop {
  from {
    top: 0;
  }
  to {
    top: -150vh;
  }
}