@import "src/styles/colors";
@import "src/styles/breakpoints";

.navbar {
  display: flex;
  justify-content: space-between;

  .logo {
    width: 83px;

    @include onWidth($tablet) {
      width: 128px;
    }
    @include onWidth($tabletMd) {
      width: 148.76px;
    }
  }
  .btnMenu {
    @include onWidth($mobileLg) {
      display: none;
    }
  }

  .items {
    display: none;
    @include onWidth($mobileLg) {
      display: flex;
    }
  }

  .items a {

    color: $black;
    margin-left: 61px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 174%;
    text-decoration: none;
  }

  .items a:hover {
    color: $blue;
  }




    }




