@import 'src/styles/colors.scss';
@import "src/styles/breakpoints";

  .item {
    display: flex;
    height: 50px;
    margin: 30px 0;

    @include onWidth($tablet) {
      margin-right: 53px;
    }


    .logo {
      width: 50px;
      height: 50px;
      margin-right: 20px;
      z-index: 5;
    }

    .textInfo {
      display: flex;
      flex-direction: column;


      .name {
        margin: 0;
        color: $gray2;
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 18px;

      }

      .link {
        margin: 7px 0 0 0;
        color: $black;
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
        text-decoration: none;
      }
    }

  }
