<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8" />
    <title><% preact.title %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta
      name="description"
      content="Пятый элемент IT-компания, предоставляющая аутсорс-услуги. Разрабатываем программные и технические системы, комплексы для бизнеса в сферах производства, ритейла, медицины, финансов, транспорта и логистики."
    />
    <link rel="apple-touch-icon" href="/assets/icons/apple-touch-icon.png" />

    <meta name="theme-color" content="#0816B7" media="(prefers-color-scheme: light)" />
    <meta name="theme-color" content="#0816B7" media="(prefers-color-scheme: dark)" />
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
    </style>
    <% preact.headEnd %>
  </head>
  <body>
    <% preact.bodyEnd %>
  </body>
</html>
